doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width,initial-scale=1",name="viewport")
    title Project
    link(href="./dist/main.css",rel="stylesheet")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
  body
    #app
    script(src="./dist/main.js")
